*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
    background-color: hsl(257, 40%, 49%);
}
.content{
    width: 80%;
    margin: 10% auto;
    max-width: 475px;
}
.content img:nth-of-type(1){
    width: 40%;
    padding-bottom: 3em;
}
.content img:nth-of-type(2){
    width: 100%;
    padding-bottom: 3em;
}
.content h1{
    color: white;
    text-align: center;
    padding-bottom: 1em;
    font-family: 'Poppins';
    font-size: 1.7em;
}
.content p{
    color: white;
    padding-bottom: 2em;
    width: 87%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Open Sans';
}
.content button{
    width: 65%;
    padding: 0.7em;
    border-radius: 3em;
    border: 0;
    margin-left: 17%;
    margin-bottom: 15%;
    font-family: 'Poppins';
    color: hsl(257, 40%, 49%);
}
.content button:active{
    color: white;
    background-color: hsl(300, 69%, 71%);
}
.sm{
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    padding-bottom: 1em;
    margin-left: 25%;
}
.sm i{
    border: 1px solid white;
    padding: 0.5em;
    border-radius: 50%;
}
.sm i:nth-of-type(1){
    padding: 0.5em 0.7em;
}
.sm i:active{
    color: hsl(300, 69%, 71%);
    border: 1px solid hsl(300, 69%, 71%);
}
.attribution{
    text-align: center;
    font-family: Poppins;
}
@media only screen and (min-width:900px){
    body{
        background-image: url("images/bg-desktop.svg");
        background-position: center;
        background-size: cover;
    }
    .content{
        margin: 5% auto;
        max-width: 1450px;
        display: flex;
        justify-content: space-between;
    }
    .images{
        width: 50%;
    }
    .rest{
        margin-top: 12%;
        align-self: center;
        width: 45%;
    }
    .content h1{
        text-align: left;
        font-size: 1.8em;
    }
    .content p{
        width: 100%;
        font-size: 0.9em;
        font-weight: 400;
        opacity: 0.8;
        text-align: left;
    }
    .content button{
        width: 45%;
        margin-left: 0%;
    }
    .sm{
        align-self: flex-start;
        width: 45%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        color: white;
        padding-bottom: 1em;
        margin-left: 25%;
    }
    .sm{
        color: white;
        padding-bottom: 1em;
        margin: 20% 0 0 50%;
    }
    .attribution{
        padding-bottom: 10%;
    }
}